.App-logo {
  padding-top: 10px;
  padding-left: 30px;
}

.App-button {
  padding-top: 60px;
  padding-left: 900px;
}

.Login {
  text-align: center;
  padding-top: -5000px;
  background-image: url(./Twitter_Background.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 900px 900px;
  height: 125vh;
  width: 100vw;
}